<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Conexao" connectionString="server=DESKTOP-QFE4C25\SQLEXPRESS; database=BertoniAcessorios; integrated security=SSPI"
      providerName="System.Data.SqlClient" />
    <add name="BertoniAcessorios.Properties.Settings.BertoniAcessoriosConnectionString"
      connectionString="Data Source=DESKTOP-QFE4C25\SQLEXPRESS;Initial Catalog=BertoniAcessorios;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>